node_modules/
web/node_modules/
.pnpm-store/

# Build artifacts
dist/
dist-ssr/
.vite/
web/dist/
web/dist-ssr/
web/.vite/
coverage/

# Env & secrets
.env
.env.*
!**/.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor junk
.DS_Store
.idea/
.vscode/

# Misc
*.local

# top-layer docs
./docs/*

# backend service
backend/node_modules/
backend/dist/
backend/.tsbuildinfo
backend/.env

# frontend service
web/node_modules/
web/dist/
web/.tsbuildinfo
web/.env
